
  .row.g-5 {
    --bs-gutter-x: 0.25rem; 
  }


  /* for buttons */
  @media (max-width: 768px) {
    #button-group {
      margin-left: 0 !important;
    }
  }

  #copyPopup{
  top: 80px;
  right: 20px;
  min-width: auto;
  max-width: 220px;
  padding: 6px 12px;
  font-size: 13px;
  background-color: #28a745;
  color: white;
  border-radius: 8px;
  display: none;
  text-align: center;
  z-index: 1050;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);

  }

  .profile-avatar {
    background-color: #fff;               
    padding: 4px;                            /* thin “border” inside the circle */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);/* subtle drop shadow */
    object-fit: cover;                       /* keep the image centered & cropped */
  }
  