body {
    font-family: Arial, sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* side bar section */
nav .nav-link {
    color: #333;
    transition: all 0.3s ease;
    /* border-radius: 8px; */
    margin: 5px 10px;
}

#sidebarDropdown .nav-link:hover,
#leftMobileSidebar .nav-link:hover {
    background-color: #ffeadb;
    color: #e07b4f;
    font-weight: bold;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
}

nav .nav-link.active {
    background-color: #e07b4f;
    color: white;
    font-weight: bold;
    box-shadow: 0 4px 12px rgba(224, 123, 79, 0.5);
    border-radius: 8px;
}

#sidebarDropdown {
    margin-left: 0 !important;
    padding-left: 0 !important;
}

/* Dark  */
body.dark {
    background-color: #121212;
    color: #f1f1f1;
}

body.dark .form-control {
    background-color: #1e1e1e;
    color: #fff;
    border: 1px solid #444;
}
body.dark .btn-outline-danger {
    border-color: #ff6b6b;
    color: #ff6b6b;
}

body.dark .btn-outline-danger:hover {
    background-color: #ff6b6b;
    color: white;
}
/* setUsertheme */

/* accBlance css */
.credit-card-box {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.credit-card-box img {
    height: 24px;
    margin-left: 10px;
}
.input-disabled {
    background-color: #cfcfcf;
}
.btn-continue {
    background-color: #f4a28c;
    border: none;
    width: 100%;
    padding: 10px;
    font-weight: bold;
    border-radius: 8px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
/* accBlance css */

/* mobile */
@media (max-width: 768px) {
    nav.col-md-2 {
        height: auto;
        padding: 10px 15px;
        border-right: none;
        border-bottom: 1px solid #eee;
    }

    nav .nav-link {
        font-size: 16px;
        padding: 10px;
        margin: 4px 0;
    }

    .navbar {
        padding-left: 15px;
        padding-right: 15px;
    }
}
