<!-- Header -->
<div class="d-flex align-items-center gap-3 mb-4">
    <button
        id="leftSidebarToggle"
        class="mobile-menu-button"
        aria-label="Toggle left sidebar"
    >
        <span></span>
        <span></span>
        <span></span>
    </button>
    <h1 class="h4 m-0">Display Setting</h1>
</div>

<!-- Theme Form -->
<form
    id="theme-form"
    action="/userSettings/display/update/<%= user._id %>"
    method="POST"
    class="d-flex justify-content-center"
>
    <div style="max-width: 700px; width: 100%">
        <div class="row align-items-start">
            <div class="col-md-4">
                <h5 class="fw-bold">Choose your theme</h5>
            </div>
            <div class="col-md-8">
                <div class="form-check mb-3">
                    <input class="form-check-input fs-4" type="radio"
                    name="theme" id="lightMode" value="light" <%= user.theme ===
                    'light' ? 'checked' : '' %>>
                    <label class="form-check-label fs-5" for="lightMode"
                        >Light Mode</label
                    >
                </div>
                <div class="form-check">
                    <input class="form-check-input fs-4" type="radio"
                    name="theme" id="darkMode" value="dark" <%= user.theme ===
                    'dark' ? 'checked' : '' %>>
                    <label class="form-check-label fs-5" for="darkMode"
                        >Dark Mode</label
                    >
                </div>
            </div>
        </div>
    </div>
</form>
